In [1]:
import numpy as np
import pandas as pd

In [17]:
data = pd.read_csv ('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
data.head(10)

                 Province/State       Country/Region  ...  11/23/21  11/24/21
0                           NaN          Afghanistan  ...    157015    157032
1                           NaN              Albania  ...    197167    197776
2                           NaN              Algeria  ...    209283    209463
3                           NaN              Andorra  ...     16342     16426
4                           NaN               Angola  ...     65061     65080
5                           NaN  Antigua and Barbuda  ...      4138      4138
6                           NaN            Argentina  ...   5317633   5319867
7                           NaN              Armenia  ...    334878    335738
8  Australian Capital Territory            Australia  ...      2087      2095
9               New South Wales            Australia  ...     80408     80681

[10 rows x 677 columns]

In [20]:
data = data.query('Lat < 0')
data.head()

                  Province/State Country/Region  ...  11/23/21  11/24/21
4                            NaN         Angola  ...     65061     65080
6                            NaN      Argentina  ...   5317633   5319867
8   Australian Capital Territory      Australia  ...      2087      2095
9                New South Wales      Australia  ...     80408     80681
10            Northern Territory      Australia  ...       280       278

[5 rows x 677 columns]

In [22]:
data[(data['8/27/21'])]

Country/Region    Zimbabwe
Lat                -0.0236
Long               178.065
1/22/20                  0
1/23/20                  0
                    ...
11/20/21          22012150
11/21/21          22017276
11/22/21          22019870
11/23/21          22030182
11/24/21          22043112
Length: 676, dtype: object

In [47]:
def kasus_harian(data):
  data = data.set_index('Country/Region')
  data = data.drop(['Province/State', 'Lat','Long'], axis = 1)
  data = data.transpose()
  data = data.diff.fillna(0)
  return data